<div class="container"> 
<ul class="bxslider">
  <li class="main"><%= image_tag("c9.io.png", class: "img-responsive") %><br/><br/></li>
  <li class="main"><iframe width="1180" height="800" src="https://www.youtube.com/embed/JcriL2OrJAs?rel=0" allowfullscreen></iframe></li>
  <li class="main"><iframe width="1180" height="800" src="https://www.youtube.com/embed/r44ahncwFY0?rel=0" allowfullscreen></iframe></li>
  <li class="main"><iframe width="1180" height="800" src="https://www.youtube.com/embed/sBUANTgTOrI?rel=0" allowfullscreen></iframe></li>
  <li class="main"><iframe width="1180" height="800" src="https://www.youtube.com/embed/74gpZuiWfJo?rel=0" allowfullscreen></iframe></li>
</ul>
</div>