<div class="jumbotron center">
<h1>About Us</h1>
<%= image_tag("contact.jpeg", class: "img-responsive") %>
<p>
Quisque sit amet enim eu turpis pharetra eleifend pulvinar ac elit. Nunc justo ipsum, mollis at pulvinar quis, interdum non tellus. Nulla varius elit at neque egestas posuere. Ut nec ultrices est. Donec sodales pellentesque arcu et convallis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam lacus metus, lobortis dictum ullamcorper nec, fermentum consequat nulla. Nulla ultricies a nisl eget consectetur. Nam porttitor, arcu eget feugiat convallis, eros lacus dignissim erat, non pretium nunc quam at augue. Nam aliquet nulla ut turpis rhoncus, efficitur aliquam felis ornare.
Duis tincidunt nisl nec lorem rhoncus, non volutpat ex molestie. In ornare convallis erat vitae hendrerit. Vestibulum vitae nisl vel dolor aliquam pulvinar. Duis congue bibendum massa, ac dignissim nisi vestibulum at. Mauris egestas orci in eros ullamcorper suscipit. Suspendisse enim neque, pulvinar et dapibus nec, tincidunt in mauris. Vivamus nec nisi ut lorem finibus imperdiet. In malesuada tellus vel leo iaculis pharetra. Duis aliquet risus id nisi hendrerit gravida.
</p>
</div>