<div class="jumbotron center">
<h1>About the Site</h1>
<br/>
<%= image_tag("contact.png", class: "img-responsive") %><br/><br/><br/>
<p>
    I utilized Rails framework to create this site. It contains four pages including home page, about the site page, portfolio page, and contact page. I have uploaded the site to Heroku. My business website www.jtwebarchitect.com hosted by HostGator. I filmed and edited all of the videos that are contained on this site. On the portfolio page I utilized some of my projects as examples. The contact page is not connected with any of my real contact host. The content of the site are actual websites that I previously created however I created this site for presentation for the Stride Center class.
</p>
</div>