<div class="panel panel-default">
    <div class="panel panel-heading">
    <h1>Contact Us</h1>
    </div>
    <div class="panel panel-body">
    <form class="form-group" action="#" method="POST" >
        <label>Your Name:</label>
        <input type="text" name="name" class="form-control"></input>
        <label>Email Address:</label>
        <input type="email" name="email" class="form-control"></input>
        <label>Phone Number</label>
        <input type="text" name="phone" class="form-control"></input>
        <label>Comment</label>
        <input type="textarea" name="comment"class="form-control"></input><br/>
        <button type="button" name="submit" class="btn btn-danger">Submit</button>
    </form>
    </div>
</div>