<h1>Welcome to Ruby on Rails Practice</h1>
<p>This is ruby on rails practice homepage!!!</p>

 <%= link_to "Login", new_user_session_path, class:'btn btn-default' %>
 <%= link_to "Join", new_user_registration_path, class:'btn btn-primary' %> 